.item-detail-container {
    display: flex;
    flex-direction: column;
}

.horizontal-container {
    display: flex;
    flex-direction: row;
}

.container {
    display: flex;
    justify-content: center;
}

.image-container {
    margin: 1rem;
    width: 14rem;
    height: 14rem;
    display: flex;
}

.item-image {
    border-radius: 0.5rem;
}

.description-container {
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
}

.description-container > .plain-description {
    font-weight: bold;
    font-size: 20px;
}

.description-container > span {
    margin-left: 1rem;
    margin-top: 1rem;
    font-size: 20px;
}

.recipe-container {
    position: absolute;
    bottom: 1rem;
}