.champ-detail {
    display: flex;
    flex-direction: row;
    .champ-sidebar {
        display: flex;
        flex-direction: column;
        margin: 0 2rem;
        .name-container {
            margin: 1rem 0;
    
            .champion-name {
                font-size: 26px;
                font-weight: bold;
            }
        }
    
        .image-container {
            margin: 1rem 0;
        }
    }

    .center-container {
        margin-top: 5rem;
        margin-right: 2rem;

        .champ-lore {
            font-size: 20px;
        }
    }
}